/*Styles */
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}

a.active {
  color: orange;
}

nav {
  padding-top: 20px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.rbc-calendar {
  min-height: 500px ;
  margin-top: 30px;
}

.main-app{
  min-height: 500px ;
  margin-top: 30px;
  float: left;
  width: 90%;
}

.tab-height {
  margin-top: 20px;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #3174ad; /* Blue */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 15px;
    float: left;
}

.sidenav a {
    padding: 6px 8px 6px 55px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    color: #f2ffff;
    display: block;
}

.sidenav a:hover {
    color: #dde2e2;
}

.logo-color {
  color: #ffffff;
  margin-left: 60px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 27px;
}

.tablist-height {
  margin-top: 50px;
}

.company-logo {
  margin-top: 5px;
  margin-left: 25px;
  width: 239px;
}

.inbox-message {
  font-size: 20px;
  background: #c8fba1;
  padding: 10px;
  width: 300px;
  border-radius: 15px;
}

.inbox-message-guest {
  margin-left: 130px;
}

.message-top-margin {
  margin-top: 40px;
}
